@charset "UTF-8";

* {
	margin: 0;
	padding: 0;
	text-align: center;
	font-family: 'Poppins', sans-serif;
}

html {
	height: 100vh;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: column;
	background-color: #f1faee;
}


#header {
	padding-top: 30px;
	border-bottom: 2px solid #065a60;
}

#header h1 {
	margin-bottom: 10px;
	color: #065a60;
	font-size: 36px;
	margin-left: 10px;
}


.tasks {
	color: #144552;
}


#addTask {
	margin-top: 30px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border-bottom: 2px solid #065a60;
}

#addTask h1 {
	margin-left: 15px;
	color: #065a60;
}


input {
	border-radius: 20px;
	padding: 10px;
	width: 100%;
	border: 2px solid #065a60;	
	margin: 10px 0 20px 0;
	font-size: 18px;
	color: #065a60;
}

::placeholder {
	color: #065a60;
}

:-ms-input-placeholder {
	color: #065a60;
}

::-ms-input-placeholder {
	color: #065a60
}


.button{
	margin-left: 10px;
	padding: 15px 0;
	width: 100%;
	background-color: #003049;
	color: #f1faee;
	font-size: 16px;
	margin-bottom: 30px;
	cursor: pointer;
	border-radius: 20px;
	border: none;
}

.button:hover{
	transition: 0.5s;
	background-color: #065a60;
}

#deletar .button {
	background-color: #d62828;
}

#deletar .button:hover{
	transition: 0.5s;
	background-color: #e63946;
}

ul {
	list-style: none;
	margin-top: 10px;
	margin-left: 15px;
}